.footer{
    background-color: $color-secondary;
    grid-column: full-start/ full-end;
    padding: 8rem;

    .nav{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr));
        list-style: none;
        grid-gap: 2rem;
        

        &__link:link,
        &__link:visited{
            font-size: 1.4rem;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-family: $font-display;
            text-transform: uppercase;
            display: block;
            padding: 1.5rem;
            transition: all .2s;
        }

        &__link:hover,
        &__link:active{
            background-color: rgba(#fff, .05);
            transform: translateY(-3px);
        }
    }
}