.heading-1{
    font-size: 1.4rem;
    color: $color-grey-light-1;
    line-height: 1;
}
.heading-2{
    font-family: $font-display;
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1;

    &--light{color:$color-grey-light-1}

    &--dark{color:$color-grey-dark-1}

}

.heading-3{
    font-family: $font-display;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-primary;

}


.heading-4{
    font-family: $font-display;
    font-weight: 400;
    font-size: 1.9rem;

    &--light{color:$color-grey-light-1}

    &--dark{color:$color-grey-dark-1}
    


}

.btn{
    background-color: $color-primary;
    border: none;
    color: #fff;
    border-radius: 0;
    font-family: $font-display;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;


    &:hover{
        background-color: $color-primary-dark;
    }
}